<!DOCTYPE html>
<html>
<head>
  <title>SIMIDE JIKOTAMO</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='layout/vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='layout/vendor/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='layout/css/clean-blog.min.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('home')}}">SIMIDE JIKOTAMO</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('informasi')}}">Informasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('sejarah')}}">Sejarah Desa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('struktur')}}">Struktur Desa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('profiledesa')}}">Profile Desa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('anggarandesas')}}">Anggaran Desa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('bumdes')}}">BUMDES</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead" style="background-image: url('static/layout/img/gambar.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>DESA JIKOTAMO</h1>
              <span class="subheading">SIMIDE (Sistem Informasi Desa) Jikotamo</span>
            </div>
          </div>
        </div>
      </div>
    </header>


    {% block content %}
    
    {% endblock%}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; SIMIDE JIKOTAMO 2020</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{url_for('static', filename='layout/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='layout/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='layout/js/clean-blog.min.js')}}"></script>

</body>
</html>